.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f2f2f2;
}

.login-box {
  background: #004990;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.5rem;
}

.login-form .input-group {
  margin-bottom: 1rem;
}

.login-form label {
  display: block;
  color: white;
  margin-bottom: 0;
}

.login-form input,
.login-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0;
}

.login-form select[multiple] {
  height: auto; /* Adjust the height as needed, or keep it auto */
  padding: 5px;
  overflow-y: auto;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  color: #004990;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.login-button:hover {
  background-color: white;
}

/* Styles for checkboxes */
.input-group label {
  display: flex;
  align-items: center;
}
 
.input-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

/* Styles for fieldset and legend */
fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 1rem;
}

legend {
  padding: 0 5px;
  font-size: 1rem;
  color: #333;
}

/* Clear the default styles of multi-select dropdown */
.login-form select[multiple] {
  width: 100%;
  height: auto; /* You can set a fixed height or make it auto */
  border: 1px solid #ccc;
}

/* Make the select box a bit more user-friendly */
.login-form select[multiple] option {
  padding: 5px;
  border-bottom: 1px solid #eee; /* helps distinguish options */
}

/* Styles for fieldset and legend */
fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #004990; /* Set the background color to something dark to contrast with white text */
}

legend {
  padding: 0 5px;
  font-size: 1rem;
  color: white; /* Change the text color to white */
}

.login-logo {
  width: 100px; /* or any size you prefer */
  display: block;
  margin: 0 auto; /* this centers the logo */
}



