/* User.css */
.data-grid-container {
    height: 400px;
    width: 100%;
    background-color: #ffffff; /* Change to your preferred background color */
  }
  
  .data-grid {
    border: px solid #f0e917; /* Add a border to the DataGrid */
    border-radius: 10px; /* Optional: Rounds the corners of the DataGrid */
  }
  
  /* Header styles */
  .MuiDataGrid-columnHeaders {
    background-color: rgba(8, 126, 244, 0.796); /* Light grey background for headers */
    color: #f1e9e9; /* Dark grey text for contrast */
    font-size: 18px; /* Larger font size for headers */


  }
  
  /* Cell styles */
  .MuiDataGrid-cell {
    border-color: #004990; /* Lighter border color for cells */
  }
  
  /* Row hover styles */
  .MuiDataGrid-row:hover {
    background-color: #e0e0e04b; /* Slightly darker background on row hover */
  }
  
  /* Pagination styles */
  .MuiPaginationItem-root {
    color: #333; /* Dark grey for pagination numbers */
  }
  
  /* Button styles for 'Add User' */
  .add-user-button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-right: 30px;
  }
  
  .add-user-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
  }
  