.screen-container {
  text-align: center;
  padding: 20px;
}

.header {
  margin-bottom: 40px; 
}


.logo {
  width: 100px; 
  height: auto; 
  margin: 0 auto; 
}

.welcome-text {
  font-size: 30px; 
  font-weight: bolder;
  margin-top: 10px;
  color: #004990; 
  font-style: normal;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket-number-container {
  margin-bottom: 20px; 
  color:#004990
}

.ticket-number {
  font-size: 32px; 
  font-weight: bolder;
  color: #A9A9A9; 
  margin-bottom: 10px; 
}
.ticket-number-color{
  color: #004990;
  font-size: 42px;
}
.ticket-number-color-fontSize{  color: #004990;
  font-size: 20px;}
.progress-bar-container {
  width: 80%; 
  background-color: #c0c0c0;
  border-radius: 5px;
  margin: auto;
  height: 20px;
}
.ticket-number-color-bold{
  color: #004990;
  font-weight: bolder;
}

.progress-bar {
  width: 50%; 
  background-color: #9d8b57;
  height: 100%;
  border-radius: 5px;
}
