*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
  }
.container-agent{width: 99vdw;height: 90dvh; display: flex;justify-content: space-between;top: 0;margin-top: 0;}
.lane {
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    padding: 10px;
}

.sign-out-container {
    text-align: right; 
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    height:10dvh;
    width: 100dvw;
    position: absolute;
}
.section {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.list-group{
    display: flex;
    height: 50px;    
    overflow-y: auto; 
    z-index: 20;

}

/* Example of different background colors for each lane */
.section.in-Queue {
    background-color: #e7f4e4;
}

.section.Serving {
    background-color: #fef7e0;
}

.section.Done {
    background-color: #e0f2fe;
}

.section.Cancel {
    background-color: #fde0e0;
}

.card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
