
.container-grid {
  display: flex; 
    flex-direction: column; 
    align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2x2 grid */
  grid-gap: 10px; /* Space between grid items */
  max-width: 700px; /* Or however wide you want your grid */
  margin: auto;
  
}

.grid-item {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition:  0.3s ease-in-out;
   border-radius: 10px;

}
.grid-item:hover{border: 1px solid #004990;transform: scale(1.3);background: #004990; color: #9d8b57;}

.grid-item.selected {
  background-color: #004990;
  color: white;
  border-color: #004990;
}

.header {
  font-style: italic;
  color: #004990;
  text-align: center; 
  padding: 20px 0; 
}

.logo {
    width: 100px; 
    height: auto;
  /* display: block; 
    margin: 0 auto; 
    width: 200px; 
    height: 200px;  */
}

h1 {
  margin: 0;
}

p {
  color: #9d8b57;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}
